<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form method="POST">
	
<form action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="Username">
			</div>
			<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Password" >
			</div>
			<div class="form-group">
			<input type="submit" class="form-control btn btn-success" name="" value="Login">
			</div>
</form>

{{ username }}

<a href="{% url 'logout' %}">Logout</a>



</form>







</body>
</html>